<div class="file-picker__dropzone" style="width:300px;height:300px;border: 15px dashed #555;">
	{{yield}}
</div>
<div class="file-picker__preview"></div>
{{input type="file" class="file-picker__input" value=file accept=accept}}
