<div class="row">
  <div class="file-picker__dropzone file-picker-plus file-picker-dropzone col-lg-12" style="">
	  {{yield}}
  </div>
</div>

<div class="file-picker__preview file-picker-preview">
  <div class="row wrapper"></div>
</div>

{{input type="file" class="file-picker__input" value=file accept=accept}}
