<div class="row">
  <div class="col-lg-3 left">
    <div class="top cell" style="background-image: url(https://a1.muscache.com/im/pictures/5868496/ca7407b6_original.jpg?aki_policy=x_large);"></div>
    <div class="bottom cell" style="background-image: url(https://a1.muscache.com/im/pictures/12978582/63e23188_original.jpg?aki_policy=x_large);"></div>
  </div>
  <div class="col-lg-6 middle">
    <div class="cell" style="background-image: url(https://a1.muscache.com/im/pictures/12978842/62aafa33_original.jpg?aki_policy=x_large);"></div>
  </div>
  <div class="col-lg-3 right">
    <div class="top cell" style="background-image: url(https://a0.muscache.com/im/pictures/5868463/60faa728_original.jpg?aki_policy=x_large);"></div>
    <div class="bottom cell" style="background-image: url(https://a1.muscache.com/im/pictures/12978691/c0308441_original.jpg?aki_policy=x_large);">
      {{fermis-apartments-home-listing-photos-grid-open-gallery-link}}
    </div>
  </div>
</div>
