<h2>{{#link-to 'town' model.slug}}{{model.name}}{{/link-to}}</h2>
<h3>Homes</h3>
<ul>
{{#each model.homes as |home|}}
  <li>
    <div>Price: {{home.price}}</div>
    <div>Period: {{home.period}}</div>
  </li>
{{/each}}
</ul>
