{{#link-to 'towns'}}All towns{{/link-to}}

{{#if model}}
<h1>Single town</h1>
<h2>{{model.name}}</h2>
<em>{{model.description}}</em>

<p>{{link-to 'See suburbs' 'town.suburbs' model.slug}}</p>
{{else}}
<p>Nothing found :(</p>
{{/if}}
