html, body {
  font-family: $font-stack;
}

// Navigation Bar Styles
.navigation {
  border-color: #EAEAEA;
  background-color: #fff;
  .navbar-brand {
    padding: 13px 19px;
    border-right: 1px solid #EAEAEA;
    padding: 19px 19px 41px 19px;
  }
  .links {
    border: 0px solid #EAEAEA;
    li {
      border-left: 1px solid #EAEAEA;
      padding: 5px;
      a:link, a:visited {
      }
      a:hover, a:active {
        color: #ED145B;
      }
    }
    li#new-listing {
      background-color: #ED145B;
      a:link, a:visited {
        color: #fff;
      }
    }
    li#new-listing:hover {
      background-color: #fff;
      a:link, a:visited {
        color: #ED145B;
      }
    }
  }
}

// Content Area
#content {
  // border: 1px solid #EAEAEA;
  position: relative;
  top: 60px;

  // General
  .selectize-control {
    .selectize-input {
      box-shadow: none; 
      @include border-radius(0);
      padding: 13px 8px 9px 10px;
      background-image: none;
      background-color: #fff;
      .item {
        padding-bottom: 5px;
        font-size: 19px;
      }
      input {
        font-size: 15px;
        width: 50% !important;
      }
    }
  }
  button {
    background-color: transparent;
    border: 1px solid #EAEAEA;
    height: 43px;
    padding-left: 15px;
    padding-right: 17px;
    padding-top: 5px;
  }

  // Loading Message
  .loading-indicator {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  // Home listings
  .listing-card {
    margin-bottom: 20px;
    .box {
      border: 0px solid #bbb;
      height: 292px;
      .top,
      .bottom {
        border: 0px solid #f00;
      }
      .top {
        position: relative;
        .listing-image {}
        .image-control {
          position: absolute;
          top: 37%;
          color: #fff
        }
        .previous-image-control {
          left: 10px;
        }
        .next-image-control {
          right: 10px;
        }
        .price-tag {
          border: 1px solid #ED145B;
          background-color: #ED145B;
          color: #FFF;
          padding: 5px 10px;
          position: absolute;
          bottom: 20px;
          left: 0;
          font-size: 20px;
          font-weight: 300;
          border-top-right-radius: 10px;
          border-bottom-right-radius: 50px;
        }
      }
      .bottom {
        border: 0px solid #bbb;
        padding: 5px;
        .description {
          font-size: 17px;
          color: #565A5C;
          color: #ED145B;
          font-weight: bold;
          -webkit-font-smoothing: antialiased;
          margin-bottom: 0;
        }
        .location-and-room-count {
          font-size: 90%;
          color: #82888A;
          .full-details-link,
          a {
            color: #82888A;
          }
          .full-details-link:hover,
          a:hover {
            color: #ED145B;
          }
        }
      }
    }
  }

  // Home Listing Photo Grid
  .home-listing-photo-grid {
    .cell {
      border: 1px solid #EAEAEA;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 50%;
    }
    .left, .middle, .right {
      padding-left: 0;
      padding-right: 0;
    }
    .left,
    .right {
      .cell {
        min-height: 10em;
      }
    }
    .middle {
      .cell {
        min-height: 20em;
      }
    }
    .right {
      .top {}
      .bottom {
        position: relative;
        a {
          color: #fff;
          position: absolute;
          top: 50%;
          left: 50%;
          margin-right: -50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }

  // Listing Image Gallery
  .image-gallery {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10000;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
    overflow-x: hidden;
    padding-left: 0px;
    padding-right: 0px;
    overflow-y: auto;
    background-color: #000;
    opacity: 1;
    color: #fff;
    .close-button-box {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 100;
      margin-top: 12px;
      button {
        border: none;
        background-color: transparent;
      }
      button:hover {
        color: $fermis-apartments-razmattaz;
      }
    }
    .header {
      // padding: 30px;
      height: 80px;
      border: 0px solid #fff;
    }
    .body {
      height: 90%;
      .previous-image-control,
      .next-image-control {
        border: 0px solid #fff;
        height: calc(100% - (80px + 100px)); 
        position: relative;
        cursor: pointer;
        i {
          position: absolute;               /* 2 */
          top: 50%;                         /* 3 */
          transform: translate(0, -50%);    /* 4 */
        }
      }
      .previous-image-control:hover,
      .next-image-control:hover {
        opacity: 0.5;
      }
      .previous-image-control {
        i {
          left: 23%;
        }
      }
      .next-image-control {
        i {
          left: 53%;
        }
      }
      .current-image-box {
        border: 0px solid #fff;
        height: calc(100% - (80px + 100px)); 
        .image {
          width: 68%;
          border: 0px solid #f00;
          height: 100%;
          margin: 0 auto;
          background: transparent no-repeat center;
          @include background-size(contain);
        }
      }
    }
    .footer {
      border: 0px solid #fff;
      height: 95px;
      position: absolute; 
      bottom: 0;
      width: 100%;
      .thumbnail-images {
        overflow: auto;
        white-space: nowrap;
        height: 100%;
        padding-left: 0;
        text-align: center;
        // width: 75%;
        // margin: 0 auto;
        img {
          height: 100%;
          width: 10%;
          margin-right: 7px;
          display: inline-block;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: 50% 50%;
          opacity: 0.6;
          cursor: pointer;
        }
        img.active {
          opacity: 1.0;
        }
        img:hover {
          opacity: 1.0;
        }
      }
    }
  }
  .image-gallery.show {
    display: block;
  }
}

#footer {
  background-color: #EEEEEE;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  margin-top: 100px;
  .copyright-notice {
    margin-bottom: 0;
    a:link, a:visited {
      color: #ED145B;
    }
  }
  #heart { 
    position: relative; 
    width: 100px; 
    height: 90px; 
    margin: 0 auto;
  } 

  #heart:before, #heart:after { 
    position: absolute; 
    content: ""; 
    left: 50px; 
    top: 0; 
    width: 50px; 
    height: 80px; 
    background: #ED145B; 
    border-radius: 50px 50px 0 0; 
    -webkit-transform: rotate(-45deg); 
    -moz-transform: rotate(-45deg); 
    -ms-transform: rotate(-45deg); 
    -o-transform: rotate(-45deg); 
    transform: rotate(-45deg); 
    -webkit-transform-origin: 0 100%; 
    -moz-transform-origin: 0 100%; 
    -ms-transform-origin: 0 100%; 
    -o-transform-origin: 0 100%; 
    transform-origin: 0 100%; 
  } 

  #heart:after { 
    left: 0; 
    -webkit-transform: rotate(45deg); 
    -moz-transform: rotate(45deg); 
    -ms-transform: rotate(45deg); 
    -o-transform: rotate(45deg); 
    transform: rotate(45deg); 
    -webkit-transform-origin: 100% 100%; 
    -moz-transform-origin: 100% 100%; 
    -ms-transform-origin: 100% 100%; 
    -o-transform-origin: 100% 100%; 
    transform-origin :100% 100%; 
  }
}
