<div class="home-detail">
  <div class="jumbotron home-banner" style="background-image: url(https://a0.muscache.com/im/pictures/110857116/15925182_original.jpg?aki_policy=xx_large)">
    <div class="overlay">
      <p class="lead price-tag">{{value-or-default model.home.pricePerMonth '0'}} <sup>&#8373;</sup>/mo</p>
    </div>
  </div>
</div>
