<h2>Create a new town on Apartment</h2>
<ul>
  <form>
    {{fermis-mapbox-map zoomLevel=5}}
    <p>{{input value=name placeholder="Name of town"}}</p>
    <p>{{textarea value=description placeholder="Description"}}</p>
    <p><button type="submit" {{action "createTown"}}>Create new town</button></p>
  </form>
</ul>
