<p>{{#link-to 'homes'}}See available homes{{/link-to}}</p>
<p>{{#link-to 'towns'}}See cities that have a place for you{{/link-to}}</p>
<p>{{#link-to 'suburbs'}}Or if granular is your taste, suburbs that have a place for you in their hearts{{/link-to}}</p>

